<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acapture Test Payments API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
    <style>
        .content {
            max-width: 980px;
        }
        .align-center{
            margin: auto;
        }
        .text-align-left {
            text-align: left;
        }
        .text-align-center {
            text-align: center;
        }
        .code-style {
            background-color: #1E1E1E;
            color: #8EC03F;
        }
        .display-block {
            display: block;
        }
        .padding-1 {
            padding: 1rem;
        }
    </style>
</head>
<body>
<div class="content align-center text-align-center">
    <h2>{{heading}}</h2>
    <p>{{transaction_id}}</p>
</div>
</body>
</html>
